@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Redacted35';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Redaction_35-Regular.woff2') format('woff2');
}
